<nav id="sidebar" class="sidebar js-sidebar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" th:href="@{/}">
            <span class="align-middle">Steel Storage</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>

            <li class="sidebar-item active">
                <a class="sidebar-link" href="index.html">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-profile.html">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                </a>
            </li>

            <li sec:authorize="!isAuthenticated()"
                class="sidebar-item">
                <a class="sidebar-link" th:href="@{/sign_in}">
                    <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
                </a>
            </li>

            <li sec:authorize="!isAuthenticated()"
                class="sidebar-item">
                <a class="sidebar-link"
                   th:href="@{/sign_up}">
                    <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link"
                   th:href="@{/earnings}">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Earnings</span>
                </a>
            </li>

            <li class="sidebar-header">
                Tools & Components
            </li>

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link" href="ui-buttons.html">-->
<!--                    <i class="align-middle" data-feather="square"></i> <span class="align-middle">Buttons</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link" href="ui-forms.html">-->
<!--                    <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Forms</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link" href="ui-cards.html">-->
<!--                    <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Cards</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link" href="ui-typography.html">-->
<!--                    <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Typography</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link" href="icons-feather.html">-->
<!--                    <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>-->
<!--                </a>-->
<!--            </li>-->

            <li class="sidebar-header">
                Plugins & Addons
            </li>

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link" href="charts-chartjs.html">-->
<!--                    <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link" href="maps-google.html">-->
<!--                    <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>-->
<!--                </a>-->
<!--            </li>-->
            <li sec:authorize="isAuthenticated()"
                class="sidebar-header">
                LOGOUT
            </li>
            <li sec:authorize="isAuthenticated()"
                class="sidebar-item">
                <a href="#" class="sidebar-link" onclick="document.getElementById('logout-form').submit(); return false;">
                    <i class="align-middle" data-feather="log-out"></i>
                    <span class="align-middle">LOGOUT</span>
                </a>
                <form id="logout-form" th:method="POST" th:action="@{/users/logout}" style="display: none;">
                    <input type="submit">
                </form>
            </li>
        </ul>

        <div sec:authorize="isAuthenticated()"
             class="sidebar-cta">
            <div class="sidebar-cta-content">
                <strong class="d-inline-block mb-2">Upgrade to Pro</strong>
                <div class="mb-3 text-sm">
                    Are you looking for more components? Check out our premium version.
                </div>
                <div class="d-grid">
                    <a href="upgrade-to-pro.html" class="btn btn-primary">Upgrade to Pro</a>
                </div>
            </div>
        </div>
    </div>
</nav>