<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Steel Earnings</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>
<div class="wrapper">
    <th:block th:replace="~{fragments/navbar}"></th:block>
    <div class="main">
        <th:block th:replace="~{fragments/topbar}"></th:block>
        <main class="content">
            <div class="container-fluid p-0">
                <div class="mb-3">
                    <h1 class="h3 d-inline align-middle"
                        th:text="#{earnings_earnings}">Consumables</h1>
                    <a class="badge bg-dark text-white ms-2" href="/upgrade-to-pro.html">
                        Get more form examples
                    </a>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"
                                    th:text="#{earnings_title}">General Form Elements</h5>

                                <!-- General Form Elements -->
                                <form th:method="POST"
                                      th:action="@{/earnings}"
                                      th:object="${addEarningsDTO}">
                                    <div class="row mb-3">
                                        <label for="numberOfSteel"
                                               class="col-sm-2 col-form-label"
                                               th:text="#{earnings_number}">Number</label>
                                        <div class="col-sm-10">
                                            <input th:field="*{numberOfSteel}"
                                                   type="number"
                                                   id="numberOfSteel"
                                                   name="numberOfSteel"
                                                   class="form-control"
                                                   th:placeholder="#{earnings_placeholder_number}">
                                            <div class="text-primary text-center"
                                                 th:if="${#fields.hasErrors('numberOfSteel')}"
                                                 th:errors="*{numberOfSteel}">Please, enter your name!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="createDate"
                                               class="col-sm-2 col-form-label"
                                               th:text="#{earnings_date}">Create date</label>
                                        <div class="col-sm-10">
                                            <input th:field="*{timeAdd}"
                                                   type="datetime-local"
                                                   name="createDate"
                                                   id="createDate"
                                                   class="form-control"
                                                   th:placeholder="#{earnings_placeholder_date}">
                                            <div class="text-primary text-center"
                                                 th:if="${#fields.hasErrors('timeAdd')}"
                                                 th:errors="*{timeAdd}">Please, enter your name!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="description"
                                               class="col-sm-2 col-form-label"
                                               th:text="#{earnings_description}">Description</label>
                                        <div class="col-sm-10">
                                            <textarea th:field="*{description}"
                                                      name="description"
                                                      th:name="description"
                                                      class="form-control"
                                                      style="height: 100px"
                                                      th:placeholder="#{earnings_placeholder_description}"></textarea>
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('description')}"
                                             th:errors="*{description}">Please, enter your name!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label"
                                               th:text="#{earnings_steel}">Steel</label>
                                        <div class="col-sm-10">
                                            <select th:field="*{diameter}"
                                                    id="diameter"
                                                    name="diameter"
                                                    class="form-select"
                                                    aria-label="Default select example">
                                                <option th:text="#{add_steel_select_steel_diameter}"
                                                        th:value="#{add_steel_select_steel_diameter}"
                                                        selected>Select Steel Diameter
                                                </option>
                                                <option value="1"
                                                        th:each="size : ${diameters}"
                                                        th:value="${size.steelSize}"
                                                        th:text="'&phi; ' + ${size.steelSize}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label"
                                               th:text="#{earnings_machine}">Machines</label>
                                        <div class="col-sm-10">
                                            <select th:field="*{machine}"
                                                    class="form-select"
                                                    aria-label="Default select example">
                                                <option selected
                                                        th:text="#{earnings_value_machine}"
                                                        th:value="#{earnings_value_machine}">Select Machine2
                                                </option>
                                                <option value="1"
                                                        th:each="machine : ${machines}"
                                                        th:value="${machine.brand} + ' ' + ${machine.model}"
                                                        th:text="${machine.brand} + ' ' + ${machine.model}">HAAS
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Submit Button</label>
                                        <div class="col-sm-10 text-center">
                                            <button type="submit" class="btn btn-primary">Submit Form</button>
                                        </div>
                                    </div>
                                </form><!-- End General Form Elements -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="~{fragments/footer}"></th:block>
    </div>
</div>

<script src="/js/app.js"></script>

</body>

</html>