<!DOCTYPE html>
<html lang="en">

<head>
    <title>Steel Earnings</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>
<div class="wrapper">
    <th:block th:replace="~{fragments/navbar}"></th:block>
    <div class="main">
        <th:block th:replace="~{fragments/topbar}"></th:block>
        <main class="content">
            <div class="container-fluid p-0">
                <div class="mb-3">
                    <h1 class="h3 d-inline align-middle">Consumables</h1>
                    <a class="badge bg-dark text-white ms-2" href="/upgrade-to-pro.html">
                        Get more form examples
                    </a>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">General Form Elements</h5>

                                <!-- General Form Elements -->
                                <form>
                                    <div class="row mb-3">
                                        <label for="inputNumber" class="col-sm-2 col-form-label">Number</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="createDate"
                                               class="col-sm-2 col-form-label">Create date</label>
                                        <div class="col-sm-10">
                                            <input
                                                    type="datetime-local"
                                                    name="createDate"
                                                    id="createDate"
                                                    class="form-control">
                                            <div class="text-primary text-center">Please, enter your name!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Steel</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Select Steel Diameter</option>
                                                <option value="1">&phi; 28</option>
                                                <option value="2">&phi; 42</option>
                                                <option value="3">&phi; 73</option>
                                                <option value="3">&phi; 76</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Machines</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Select Machine</option>
                                                <option value="1">HAAS ST-10</option>
                                                <option value="2">HAAS DS-30</option>
                                                <option value="3">HAAS VF-2SS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Submit Button</label>
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary">Submit Form</button>
                                        </div>
                                    </div>
                                </form><!-- End General Form Elements -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="~{fragments/footer}"></th:block>
    </div>
</div>

<script src="/js/app.js"></script>

</body>

</html>