<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Steel Sign up</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>
<main class="d-flex w-100">
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <h1 class="h2">Get started</h1>
                        <p class="lead">
                            Start creating the best possible user experience for you customers.
                        </p>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                <form th:method="POST"
                                      th:action="@{/sign_up}"
                                      th:object="${registerNewUser}">
                                    <div class="mb-3">
                                        <label class="form-label">Name</label>
                                        <input th:field="*{firstName}"

                                               class="form-control form-control-lg"
                                               type="text"
                                               name="name"
                                               th:placeholder="#{placeholder_name}"/>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('firstName')}"
                                             th:errors="*{firstName}">Please, enter your name!
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Last Name</label>
                                        <input th:field="*{lastName}"
                                               class="form-control form-control-lg"
                                               type="text"
                                               name="lastName"
                                               th:placeholder="#{placeholder_last_name}"/>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('lastName')}"
                                             th:errors="*{lastName}">Please, enter your name!
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <input th:field="*{email}"
                                               class="form-control form-control-lg"
                                               type="email"
                                               name="email"
                                               th:placeholder="#{placeholder_email}"/>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('email')}"
                                             th:errors="*{email}">Please, enter your name!
                                        </div>
                                        <div class="text-danger text-center"
                                             th:if="${emailExist == true}">
                                            Email is register in DB
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Password</label>
                                        <input th:field="*{password}"
                                               class="form-control form-control-lg"
                                               type="password" name="password"
                                               th:placeholder="#{placeholder_password}"/>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('password')}"
                                             th:errors="*{password}">Please, enter your name!
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('global')}"
                                             th:errors="*{global}">Please, enter your name!
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Confirm Password</label>
                                        <input th:field="*{confirmPassword}"
                                               class="form-control form-control-lg"
                                               type="password" name="password"
                                               th:placeholder="#{placeholder_password}"/>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('confirmPassword')}"
                                             th:errors="*{confirmPassword}">Please, enter your name!
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('global')}"
                                             th:errors="*{global}">Please, enter your name!
                                        </div>
                                    </div>
                                    <div class="text-center mt-3">
                                        <!--                                        <a href="index.html" class="btn btn-lg btn-primary">Sign up</a>-->
                                        <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
                                        <!--                                        <button type="submit" class="btn btn-lg btn-primary">Sign up</button>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments/footer}"></th:block>
<script src="/js/app.js"></script>
</body>

</html>