<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Steel Sign in</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>
<main class="d-flex w-100">
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <h1 class="h2">Welcome back to Steel Storage</h1>
                        <p class="lead">Sign in to your account to continue</p>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                <div class="text-center">
                                    <img src="/img/download/unsplash-1.jpg" alt="Charles Hall"
                                         class="img-fluid rounded-circle" width="132" height="132"/>
                                </div>
                                <form th:method="POST"
                                      th:action="@{/sign_in}">
                                    <p th:if="${bad_credentials}" class="errors alert alert-danger">
                                        Invalid username or password.
                                    </p>
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <input class="form-control form-control-lg"
                                               type="email"
                                               name="email"
                                               id="email"
                                               value="admin@admin.bg"
                                               placeholder="Enter your email"/>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Password</label>
                                        <input class="form-control form-control-lg"
                                               type="password"
                                               name="password"
                                               id="password"
                                              value="123"
                                               placeholder="Enter your password"/>
                                        <small>
                                            <a href="index.html">Forgot password?</a>
                                        </small>
                                    </div>
                                    <div>
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="remember-me"
                                                   name="remember-me" checked>
                                            <span class="form-check-label">Remember me next time</span>
                                        </label>
                                    </div>
                                    <div class="text-center mt-3">
<!--                                        <a href="index.html" class="btn btn-lg btn-primary">Sign in</a>-->
                                         <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments/footer}"></th:block>
<script src="/js/app.js"></script>

</body>

</html>